* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grey-font{
  color: #4A4A4A;
}

.light-grey-background{
  background-color: #F3EFEF;
}

.purple-background{
  background-color: #8F5B9C;
}

.blue-background{
  background-color: #2396D2;
}

.br-50{
  border-radius: 50px;
}

.margin-0-auto{
  margin: 0 auto;
}

.w480{
  width: 480px;
}

.unlock-image{
  background-image: url('./assets/infoHub.png');
}

.w416 {
  min-width: 416px;
}
