* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.grey-font {
  color: #4a4a4a;
}

.light-grey-background {
  background-color: #f3efef;
}

.purple-background {
  background-color: #8f5b9c;
}

.blue-background {
  background-color: #2396d2;
}

.br-50 {
  border-radius: 50px;
}

.margin-0-auto {
  margin: 0 auto;
}

.w480 {
  width: 480px;
}

.unlock-image {
  background-image: url('./assets/infoHub.png');
}

.h-60 {
  height: 60%;
}

.h-10 {
  height: 9rem;
}

.w416 {
  min-width: 416px;
}

.wrap {
  word-wrap: break-word;
}

@-webkit-keyframes thinking {
  50% {
    color: white;
  }
}

@-webkit-keyframes growBot {
  0% {
    transform: scale(0, 0) translate(-16rem);
  }
  100% {
    transform: scale(1, 1) translate(0rem);
  }
}

@-webkit-keyframes growUser {
  0% {
    transform: scale(0, 0) translate(16rem);
  }
  100% {
    transform: scale(1, 1) translate(0rem);
  }
}

.thinking {
  -webkit-animation: thinking 0.8s infinite;
}

.grow_bot_speech {
  -webkit-animation: growBot 0.4s;
}

.grow_user_speech {
  -webkit-animation: growUser 0.4s;
}

.ball {
  -webkit-animation: bounce 0.3s infinite alternate;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}
